# Build Results
[Bb]in/

# Eclipse files
.settings/
.metadata/

# JetBrains IDE files
.idea/
*.iml

# Windows files
*.ini

# Swap files
*.swp

# output
out/
test.txt
MANIFEST.MF
WordTracker.jar
build_and_run.bat


#serialized file
repository.ser